{{#trips}}
<li class="simple-nav-item trip{{#if show_gone}} gone{{/if}}{{#if ../show_realtime}} has-realtime{{/if}}" data-block-id="{{block_id}}" data-departure-time="{{departure_datetime}}">
	<div class="trip-stop trip-from">
		<i class="icon-time"></i> 
		<div class="trip-label">
			{{departure_time_formatted}} 
			{{#if show_gone}}
			<span class="trip-from-now">({{from_now}})</span>
			{{/if}}
		</div>
	</div>
	<div class="trip-stop trip-to">
		<div class="trip-label">
			{{arrival_time_formatted}}
		</div>
		{{#if ../route.has_realtime}}
		<i class="icon-map-marker js-trip-vehicle-marker js-nav-link" href="" title="Vehicle location"></i>
		{{/if}}
	</div>
	{{#unless coverage.full}}
	<div class="trip-coverage">
		<div class="trip-coverage-active" style="margin-left:{{coverage.left}}px;margin-right:{{coverage.right}}px;"></div>
	</div>
	{{/unless}}
</li>
{{/trips}}