<!-- title: {{title}}; route_type: {{route_type.slug}} -->
<div class="directions">
	<div class="content-inner content-section">
		<nav class="simple-nav">
			<ul>
				{{#directions}}
				<li>
					<a href="/{{../route_type_slug}}/{{../route.slug}}/{{direction_id}}" class="js-nav-link">
						<strong>{{direction_name}}</strong> <span>to</span> {{direction_long_name}}
					</a>
				</li>
				{{/directions}}
			</ul>
		</nav>
	</div>

	<div class="content-inner">
		<nav class="simple-nav small">
			<a href="/{{route_type_slug}}/{{route.slug}}/map" class="js-nav-link">
				<i class="icon-globe"></i> View Route Map
			</a>
		</nav>
	</div>
</div>