<div class="directions">
	<div class="content-inner">
		<nav class="simple-nav">
			<ul>
				{{#directions}}
				<li>
					<a href="/{{../route_type_slug}}/{{../route.slug}}/{{direction_id}}">
						<strong>{{direction_name}}</strong> <span>to</span> {{direction_long_name}}
					</a>
				</li>
				{{/directions}}
			</ul>
		</nav>
	</div>
</div>