<!-- title: {{title}}; back: false; options: true; footer: false; -->
<div class="home" ctrl="home">
	<form class="home-search" action="/search" method="GET">
		<input type="text" name="term" placeholder="{{search_text}}" /> <button class="btn">Go</button>
	</form>

	<div class="content-inner content-section">
		<nav class="simple-nav">
			<ul>
				{{#route_types}}
				<li class="home-route-type home-route-type-{{slug}}"><a href="{{path}}" class="js-nav-link">{{label}}</a></li>
				{{/route_types}}
			</ul>
		</nav>
	</div>

	<div class="content-inner content-section">
		<nav class="simple-nav simple-nav-small">
			<a href="/locate" class="js-nav-link"><i class="icon-compass"></i> Find nearby routes</a>
		</nav>
	</div>

	<div class="content-text content-subtle">

		{{#if twitter_acct}}
		<p>Follow <a href="http://twitter.com/{{twitter_acct}}">@{{twitter_acct}}</a> for info and updates.</p>
		{{/if}}
	</div>
</div>
