<!DOCTYPE html>
<html module="nextsepta">
<head>
	<title class="js-title">{{app_title}}</title>
	<meta name="description" content="SEPTA next stop times and maps.">
	<meta name="apple-mobile-web-app-capable" content="yes">
	<meta name="apple-mobile-web-app-status-bar-style" content="black">
	<meta name="mobile-web-app-capable" content="yes">
	<meta name="format-detection" content="telephone=no">
	<meta name="viewport" content="initial-scale=1,maximum-scale=1,user-scalable=no" />

	<link rel="shortcut icon" href="/images/{{agency.slug}}-favicon.ico" type="image/x-icon">
	<link rel="icon" href="/images/{{agency.slug}}-favicon.ico" type="image/x-icon">
	<link rel="apple-touch-icon-precomposed" href="/images/{{agency.slug}}-logo-57.png" />
	<link rel="apple-touch-icon-precomposed" href="/images/{{agency.slug}}-logo-72.png" sizes="72x72" />
	<link rel="apple-touch-icon-precomposed" href="/images/{{agency.slug}}-logo-114.png" sizes="114x114" />
	<link rel="apple-touch-icon-precomposed" href="/images/{{agency.slug}}-logo-144.png" sizes="144x144" />

	<link rel="stylesheet" type="text/css" href="//api.tiles.mapbox.com/mapbox.js/v1.6.2/mapbox.css" />
	<link rel="stylesheet" type="text/css" href="/dest/app.min.css?v={{app_version}}" />
	<link rel="stylesheet" type="text/css" href="/dest/{{agency.slug}}.min.css?v={{app_version}}" />
	<script src="/dest/jquery-2.0.3.min.js"></script>
	<script src="//api.tiles.mapbox.com/mapbox.js/v1.6.2/mapbox.js"></script>
	<script src="/dest/app.min.js?v={{app_version}}"></script>
</head>
<body ctrl="app" data-app-title="{{app_title}}">
	<div class="container">
		<header class="app-header js-app-header">
			<a href="{{back_path}}" class="app-header-btn app-header-back-btn {{#if back_path}}active{{/if}} js-nav-link-back" title="Go back"><i class="icon-chevron-sign-left"></i></a>
			<span class="app-title js-app-title">{{title}}</span>
			<a href="/options" class="app-header-btn js-nav-link js-header-options-btn"><i class="icon-reorder"></i></a>
		</header>
		<div class="content js-content{{#if show_map}} hidden{{/if}}" data-route-type="{{route_type_slug}}" data-route-id="{{route_id}}">
			<div class="content-panel js-content-panel">
				{{{body}}}
			</div>
		</div>
		{{> footer}}
		<div class="map js-map{{#if show_map}} active{{/if}}" ctrl="map">
			<div id="map-inner" class="dark map-inner js-map-inner"></div>
		</div>
	</div>
	{{> google_ua}}
</body>
</html>
