<!DOCTYPE html>
<html module="nextsepta">
<head>
	<title class="js-title">{{app_title}}</title>
	<meta name="description" content="SEPTA next stop times and maps.">
	<meta name="apple-mobile-web-app-capable" content="yes">
	<meta name="apple-mobile-web-app-status-bar-style" content="black">
	<meta name="format-detection" content="telephone=no">
	<meta name="viewport" content="width=device-width,initial-scale=1,maximum-scale=1,user-scalable=no" />

	<link rel="shortcut icon" href="/images/favicon.ico" type="image/x-icon">
	<link rel="icon" href="/images/favicon.ico" type="image/x-icon">
	<link rel="apple-touch-icon-precomposed" href="/images/nextsepta-logo-57.png" />
	<link rel="apple-touch-icon-precomposed" href="/images/nextsepta-logo-72.png" sizes="72x72" />
	<link rel="apple-touch-icon-precomposed" href="/images/nextsepta-logo-114.png" sizes="114x114" />
	<link rel="apple-touch-icon-precomposed" href="/images/nextsepta-logo-144.png" sizes="144x144" />

	<link rel="stylesheet" type="text/css" href="/css/vendor/font-awesome.min.css" />
	<link rel="stylesheet" type="text/css" href="/css/normalize.css" />
	<link rel="stylesheet" type="text/css" href="/build/css/typography.css" />
	<link rel="stylesheet" type="text/css" href="/build/css/core.css" />
	<link rel="stylesheet" type="text/css" href="/build/css/buttons.css" />
	<link rel="stylesheet" type="text/css" href="/build/css/forms.css" />
	<link rel="stylesheet" type="text/css" href="/build/css/layout.css" />
	<link rel="stylesheet" type="text/css" href="/build/css/components.css" />
	<link rel="stylesheet" type="text/css" href="/build/css/home.css" />
	<link rel="stylesheet" type="text/css" href="/build/css/stops.css" />
	<link rel="stylesheet" type="text/css" href="/build/css/trips.css" />
	<link rel="stylesheet" type="text/css" href="/build/css/options.css" />
	<link rel="stylesheet" type="text/css" href="/build/css/patterns.css" />

	<script src="/js/vendor/jquery-1.9.1.min.js"></script>
	<script src="/js/vendor/jquery.scrollTo-1.4.3.1.js"></script>
	<script src="/js/core/core.js"></script>
	<script src="/js/core/eval.js"></script>
	<script src="/js/core/controller.js"></script>
	<script src="/js/core/service.js"></script>
	<script src="/js/core/module.js"></script>
	<script src="/js/services/templates.js"></script>
	<script src="/js/services/resize.js"></script>
	<script src="/js/services/history.js"></script>
	<script src="/js/controllers/app.js"></script>
	<script src="/js/controllers/trips.js"></script>
	<script src="/js/controllers/options.js"></script>
</head>
<body ctrl="app">
	<div class="container">
		<header class="app-header">
			<a href="{{back_path}}" class="app-header-btn app-header-back-btn {{#if back_path}}active{{/if}} js-nav-link-back" title="Go back"><i class="icon-chevron-sign-left"></i></a>
			<span class="app-title js-app-title">{{title}}</span>
			<a href="/options" class="app-header-btn js-nav-link js-header-options-btn"><i class="icon-reorder"></i></a>
		</header>
		<div class="content" data-type="{{route_type_slug}}" data-route="{{route_id}}" data-direction="{{direction_id}}" data-from="{{from_stop.stop_id}}" data-to="{{to_stop.stop_id}}">
			<div class="content-panel">
				{{{body}}}
			</div>
		</div>
		{{#if show_footer}}
		<footer class="app-footer {{route_type.slug}}">
			<ul>
				<li class="">
					<a href="/" class="app-footer-btn js-nav-link"><i class="icon-home"></i></a>
				</li><li class="app-footer-subways">
					<a href="/subways" class="app-footer-btn subways js-nav-link">Subways</a>
				</li><li class="app-footer-buses">
					<a href="/buses" class="app-footer-btn buses js-nav-link">Buses</a>
				</li><li class="app-footer-trolleys">
					<a href="/trolleys" class="app-footer-btn trolleys js-nav-link">Trolleys</a>
				</li><li class="app-footer-trains">
					<a href="/trains" class="app-footer-btn trains js-nav-link">Trains</a>
				</li>
			</ul>
		</footer>
		{{/if}}
	</div>
</body>
</html>