<div class="search">
	<form class="home-search" method="GET" action="/search">
		<input name="term" type="text" /> <button class="btn btn-small">Go</button>
	</form>

	{{#if term}}
	<div class="content-inner">
		{{#if results}}
		<nav class="simple-nav">
			<ul>
				{{#results}}
				<li>
					<a href="/{{route_type_name}}/{{route_short_name_lower}}"><strong>{{route_short_name}}</strong> {{route_long_name}}</a>
				</li>
				{{/results}}
			</ul>
		</nav>
		{{else}}
		Sorry, couldn't find any matching routes.
		{{/if}}
	</div>
	{{/if}}
</div>