<!-- title: {{title}} -->
<div class="stops">
	{{#if from_stop}}
	<div class="content-inner trips-header">
		<span class="times-header-from-stop"><i class="icon-map-marker"></i> {{from_stop.stop_name}}</span>
	</div>
	{{/if}}
	<div class="content-inner">
		<nav class="simple-nav">
			<ul>
				{{#stops}}
				<li>
					<a href="/{{../route_type_slug}}/{{../route.slug}}/{{../direction.direction_id}}/{{path}}" class="js-nav-link"><i class="icon-map-marker"></i> {{stop_name}}</a>
				</li>
				{{/stops}}
			</ul>
		</nav>
	</div>
</div>