<div class="trips">
	<div class="content-inner trips-header">
		<span class="trips-header-from-stop">
			<a href="/{{route_type_slug}}/{{route_id}}/{{direction_id}}"><i class="icon-map-marker"></i> {{from_stop.stop_name}}</a>
		</span>
		<span class="trips-header-to-stop">
			{{#if to_stop}}
			<a href="{{back_path}}">{{to_stop.stop_name}} <i class="icon-map-marker"></i></a>
			{{else}}
			<a href="{{back_path}}/{{from_stop.stop_id}}/choose">Choose Destination</a>
			{{/if}}
		</span>
	</div>
	<div class="trips-subheader">
		<div class="trips-subheader-stop trips-subheader-from">Departs</div>
		<div class="trips-subheader-stop trips-subheader-to">Arrives</div>
	</div>
	<div class="content-inner">
		<nav class="simple-nav">
			<ul>
				{{#trips}}
				<li class="simple-nav-item trip">
					<div class="trip-stop trip-from">
						<i class="icon-time"></i> 
						<div class="trip-label">
							{{departure_time_formatted}} 
							<span class="trip-from-now">({{from_now}})</span>
						</div>
					</div>
					{{#if arrival_stop_time}}
					<div class="trip-stop trip-to">
						{{arrival_time_formatted}}
					</div>
					{{/if}}
					<div class="trip-coverage">
						<div class="trip-coverage-active" style="margin-left:{{coverage.left}}px;margin-right:{{coverage.right}}px;"></div>
					</div>
				</li>
				{{/trips}}
			</ul>
		</nav>
	</div>
</div>