<!-- title: {{title}}; route_type: {{route_type_slug}}; route_id: {{route_id}}; has_realtime: {{route_type.has_realtime}} -->
<div class="trips{{#if to_stop}} has-to{{/if}}" ctrl="trips">
	<div class="content-inner trips-header">
		<span class="trips-header-from-stop">
			<a href="/{{route_type_slug}}/{{route_id}}/{{direction_id}}"><i class="icon-map-marker"></i> {{from_stop.stop_name}}</a>
		</span>
		<span class="trips-header-reverse">
			<a href="/{{route_type_slug}}/{{route_id}}/{{direction_id_rev}}/{{to_stop.stop_id}}/{{from_stop.stop_id}}"><i class="icon-exchange"></i></a>
		</span>
		<span class="trips-header-to-stop">
			{{#if to_stop}}
			<a href="{{back_path}}" class="js-nav-link">{{to_stop.stop_name}} <i class="icon-map-marker"></i></a>
			{{else}}
			<a href="{{back_path}}/{{from_stop.stop_id}}/choose" class="js-nav-link">Choose Destination</a>
			{{/if}}
		</span>
	</div>
	<div class="trips-subheader">
		<div class="trips-subheader-stop trips-subheader-from">Departs</div>
		<div class="trips-subheader-stop trips-subheader-to">Arrives</div>
	</div>
	<div class="content-inner">
		<nav class="simple-nav">
			<ul class="trips-list js-trips-list">
				{{> trip_item}}
			</ul>
		</nav>
	</div>
	<div class="trips-paging">
		<a href="?offset={{offset_prev}}" class="trips-paging-btn trips-paging-prev js-trips-prev"><i class="icon-long-arrow-left"></i></a>
		<a href="?offset={{offset_next}}" class="trips-paging-btn trips-paging-next js-trips-next"><i class="icon-long-arrow-right"></i></a>
	</div>
</div>